.payment-details-page{
  margin:20px 5px
}

.panel-content{
  flex-direction: column;
  align-items: start;
  justify-content:space-between;
  width: 100%;
  padding: 40px;
  gap:20px;
}
.fields-container{
  display:grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  gap: 20px;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  flex: 0.8;
}
.img-container img{
  max-width: 400px;
  max-height: 300px;
}

.add-button{
  position:fixed;
  bottom: 20px;
  right: 20px;
}

.title-container {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  margin:0;
  padding:0;
}

.title-container h1 {
  padding: 10px;
  background-color: #ff9900;
  border-radius: 20px;
  color: #fff;
  margin-left:15px;
  font-size: 24px;
}
