<div class="payment-details-page">
  <div class="title-container">
    <h1>{{ 'payments.paymentDetails' | translate }}</h1>
  </div>

  <app-card-payment [payment]="payment!" [mode]="PaymentCardMode.VIEW"></app-card-payment>
  <mat-divider></mat-divider>

  @if (this.receipts.length == 0) {
    <div class="no-payments">
      <mat-icon>receipt</mat-icon>
      <h2>No hay recibos</h2>
      <p>Los recibos de pago aparecerán aquí.</p>
    </div>
  } @else {
    <h2>Comprobantes de pago</h2>
    <mat-accordion>
      @for (receipt of receipts; track receipt) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ receipt.name }}</mat-panel-title>
            <mat-panel-description>Monto: {{ receipt.amount | currency }}</mat-panel-description>
            <button *ngIf="mode==PaymentDetailsMode.PRIVATE" (click)="deleteReceipt(receipt)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
          <mat-card class="panel-content">
            <div class="fields-container">
              <mat-form-field appearance="fill">
                <mat-label>Nombre del comprobante</mat-label>
                <input matInput [ngModel]="receipt.name" placeholder="Descripción del comprobante" [disabled]="true">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Número del comprobante</mat-label>
                <input matInput [(ngModel)]="receipt.receiptNumber" placeholder="Número del comprobante"
                       [disabled]="true">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Monto del comprobante</mat-label>
                <input matInput type="number" [ngModel]="receipt.amount" placeholder="Monto del comprobante"
                       [disabled]="true">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Fecha de emisión</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="receipt.issueDate"  [disabled]="true">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker ></mat-datepicker>
              </mat-form-field>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="img-container" *ngIf="receipt.imagePath">
              <img [src]="receipt.imagePath" alt="Vista previa del comprobante">
            </div>
          </mat-card>
        </mat-expansion-panel>

      }
    </mat-accordion>
  }
  <div *ngIf="mode==PaymentDetailsMode.PRIVATE" class="add-button">
    <button (click)="showAddReceiptDialog()" mat-fab extended color="primary">
      <mat-icon>add</mat-icon>
      Agregar recibo
    </button>
  </div>
</div>
