<div class="payment-details-page">
  <div class="title-container">
    <h1>{{ 'payments.paymentDetails' | translate }}</h1>
  </div>

  <app-card-payment [payment]="payment!" [mode]="PaymentCardMode.VIEW"></app-card-payment>
  <mat-divider></mat-divider>

  @if(this.receipts.length==0){
  <div class="no-payments">
    <mat-icon>receipt</mat-icon>
    <h2>No hay recibos</h2>
    <p>Los recibos de pago aparecerán aquí.</p>
  </div>
  }
  @else {
    <h2>Comprobantes de pago</h2>
    <mat-accordion>
      @for (receipt of receipts; track receipt){
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{receipt.name}} </mat-panel-title>
            <mat-panel-description>Fecha de emisión: {{receipt.issueDate | date}} </mat-panel-description>
            <mat-panel-description>Monto: {{receipt.amount | currency}}</mat-panel-description>
          </mat-expansion-panel-header>
          <div class="panel-content">
                <img [src]="imageService.getImageUrlById(receipt.imagePath)" alt="Recibo de pago" class="receipt-image">
                <button mat-raised-button (click)="showOcrReceiptDialog(receipt.imagePath)">OCR</button>
          </div>
        </mat-expansion-panel>

      }
    </mat-accordion>
  }
  <div *ngIf="mode==PaymentDetailsMode.PRIVATE" class="add-button">
    <button (click)="showAddReceiptDialog()" mat-fab extended color="primary">
      <mat-icon>add</mat-icon>
      Agregar recibo
    </button>
  </div>
</div>
