<div class="container">
  <div class="left-container">
    <mat-card class="welcome-card">
      <mat-card-header >
        <img mat-card-avatar
             class="welcome-image"
             [src]="partner.photo || 'assets/images/default-avatar.png'"
             alt="Avatar">
        <mat-card-title>{{ 'welcome.greeting' | translate }} {{ currentUername }}</mat-card-title>
        <mat-card-subtitle>{{ partner.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p style="text-align: center;">{{ 'welcome.hiMessage' | translate }}</p>
      </mat-card-content>
    </mat-card>


    <app-transactions-timeline></app-transactions-timeline>
  </div>

  <div class="right-container">

    <app-chart></app-chart>
    <div class="report-button-container">
      <button mat-button (click)="generateUserReport()">{{ 'report.generateButton' | translate }}</button>
    </div>
  </div>
</div>
