<div class="container">
  <div class="right-cards">
    <mat-card>
      <mat-card-title>{{ group.name }}</mat-card-title>
      <mat-card-header>
        <img [src]="group.groupPhoto" alt="{{ 'group.photoAlt' | translate }}" >
        <mat-card-title-group>
          <mat-card-title>{{ 'group.debtInfo' | translate: { groupName: group.name } }}
            @if (amountOfPayToYou > 0) {
              {{ 'group.owesYou' | translate }}: {{ amountOfPayToYou }}
            } @else if (amountOfPayToYou < 0) {
              {{ 'group.youOwe' | translate }}: {{ amountOfPayToYou * -1 }}
            } @else {
              {{ 'group.upToDate' | translate }}
            }

          </mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'group.description' | translate }}: {{ group.description }}</p>
        <p>{{ 'group.creationDate' | translate }}: {{ group.createdAt | date: 'dd/MM/yyyy' }}</p>
        <p>{{ 'group.members' | translate }}: {{ totalOfMembers }}</p>

        @if (group.adminId === currentUserId) {
          <a routerLink="/group-config/{{ group.id }}" mat-raised-button color="primary">
           Editar Grupo
          </a>
         }

      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title (click)="toggleExpenses()" style="cursor: pointer;">
        {{ 'Expenses' | translate }}
        <mat-icon>{{ showExpenses ? 'expand_less' : 'expand_more' }}</mat-icon>
      </mat-card-title>
      <mat-card-content *ngIf="showExpenses">
        <ng-container *ngIf="groupExpenses.length > 0; else noExpenses">
          <app-expense-summary-card
            *ngFor="let expense of groupExpenses"
            [expense]="expense"
            [groupMembers]="groupMembers">
          </app-expense-summary-card>
        </ng-container>
        <ng-template #noExpenses>
          <span>{{ 'Not Expenses' | translate }}</span>
        </ng-template>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>{{ 'group.eachMemberMustPay' | translate }}</mat-card-title>
      <mat-card-content>
        <div *ngFor="let member of groupMembers">
          <label [class.checked]="isMemberPaid(member.userId)">
            <input type="checkbox" [checked]="isMemberPaid(member.userId)" (change)="togglePaidMember(member.userId)">
            <span>{{ member.fullName }}</span>
          </label>
          <span class="amount">{{ amountEachMemberShouldPay }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="left-card">
    <mat-card>
      <mat-card-title>{{ 'group.paymentDistribution' | translate }}</mat-card-title>
      <mat-card-content>
        <div style="display: flex; justify-content: center;">
          <canvas id="pieChart"></canvas>
        </div>
        <button mat-button color="primary" (click)="goToDetailedDistribution(group.id.toString())">
          {{ 'group.viewDetailedDistribution' | translate }}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
