<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        {{ 'expense.group' | translate }}
      </ng-template>
      <mat-form-field>
        <mat-label>{{ 'expense.pick_group' | translate }}</mat-label>
        <mat-select formControlName="firstCtrl" required (selectionChange)="onGroupSelectionChange($event)">
          <mat-option *ngFor="let group of joinedGroups" [value]="group.id">
            {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>{{ 'common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>
        {{ 'expense.which' | translate }}
      </ng-template>
      <mat-form-field>
        <mat-label>{{ 'expense.pick' | translate }}</mat-label>
        <mat-select formControlName="firstCtrl" required (selectionChange)="onExpenseSelectionChange($event)">
          <mat-option *ngFor="let expense of expenses" [value]="expense.id">
            {{ expense.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
        <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">{{ 'common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>
        {{ 'payments.paymentDetails' | translate }}
      </ng-template>
      <mat-form-field>
        <mat-label>{{ 'payments.description' | translate }}</mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'payments.amount_pay' | translate }}</mat-label>
        <input matInput type="number" formControlName="amount" required [max]="maxAmount" min="0.01">
        <mat-hint>{{ 'payments.amount_max' | translate }}: {{ maxAmount }}</mat-hint>
      </mat-form-field>
      <div *ngIf="thirdFormGroup.value.amount && +thirdFormGroup.value.amount > maxAmount" style="color:red;">
        {{ 'payments.amount_message' | translate }}
      </div>
      <div>
        <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
        <button mat-button matStepperNext
                [disabled]="!thirdFormGroup.valid || (thirdFormGroup.value.amount && +thirdFormGroup.value.amount > maxAmount)">
          {{ 'common.next' | translate }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      {{ 'summary.title' | translate }}
    </ng-template>
    <div>
      <h1>{{ 'summary.title' | translate }}</h1>
      <p>{{ 'summary.group' | translate }}: {{ firstFormGroup.value.firstCtrl }}</p>
      <p>{{ 'summary.expense' | translate }}: {{ selectedExpense?.name }}</p>
      <p>{{ 'payments.description' | translate }}: {{ thirdFormGroup.value.description }}</p>
      <p>{{ 'payments.amount' | translate }}: {{ thirdFormGroup.value.amount }}</p>
    </div>
    <div>
      <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
      <button mat-button [disabled]="!canSubmit" (click)="onSubmit()">
        {{ 'common.done' | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
