.title-container {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  margin:0;
  padding:0;
}

.title-container h1 {
  padding: 10px;
  background-color: #ff9900;
  border-radius: 20px;
  color: #fff;
  margin-left:15px;
  font-size: 24px;
}
