<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        {{ 'expense.new' | translate }}
      </ng-template>
      <mat-form-field>
        <mat-label>{{ 'expense.name' | translate }}</mat-label>
        <input matInput formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>{{ 'common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>
        {{ 'expense.amount' | translate }}
      </ng-template>
      <mat-form-field>
        <mat-label>{{ 'expense.set_amount' | translate }}</mat-label>
        <input type="number" matInput formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
        <button mat-button matStepperNext>{{ 'common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>
        {{ 'expense.group' | translate }}
      </ng-template>
      <mat-form-field>
        <mat-label>{{ 'expense.pick_group' | translate }}</mat-label>
        <mat-select formControlName="firstCtrl" required>
          <mat-option *ngFor="let group of joinedGroups" [value]="group.id">
            {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
        <button mat-button matStepperNext>{{ 'common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>{{ 'expense.dueDate' | translate }}</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'payment.dueDate' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDateCtrl" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="fifthFormGroup.get('dueDateCtrl')?.hasError('required')">
          {{ 'payment.dateRequired' | translate }}
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
        <button mat-button matStepperNext>{{ 'common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      {{ 'expense.summary' | translate }}
    </ng-template>
    <div>
      <h1>{{ 'expense.summary' | translate }}</h1>
      <p>{{ 'expense.name' | translate }}: {{ firstFormGroup.value.firstCtrl }}</p>
      <p>{{ 'expense.amount' | translate }}: {{ thirdFormGroup.value.firstCtrl }}</p>
      <p>{{ 'expense.group' | translate }}: {{ fourthFormGroup.value.firstCtrl }}</p>
      <p>{{ 'expense.dueDate' | translate }}: {{ fifthFormGroup.value.dueDateCtrl | date }}</p>
    </div>
    <div *ngIf="errorMessage" style="color: red; margin: 12px 0;">
      {{ errorMessage }}
    </div>
    <div *ngIf="isLoading" style="display: flex; justify-content: center; margin: 18px 0;">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div>
      <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button>
      <button mat-button (click)="onSubmit()" [disabled]="isLoading">{{ 'common.submit' | translate }}</button>
    </div>
  </mat-step>

</mat-stepper>
