<div class="card-payment">
  <mat-card class="custom-card">
    <mat-card-title>
      {{ expense.name }} - {{ expense.amount | currency }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ 'DueDate' | translate }}: {{ expense.dueDate | date: 'dd/MM/yyyy' }}
    </mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <span matListItemLine>{{ 'Name' | translate }}: {{ expense.name }}</span>
        <span matListItemLine>{{ 'Group' | translate }}: {{ group.name }}</span>
        <span matListItemLine>{{ 'CreatedBy' | translate }}: {{ expense.userId }}</span>
        <span matListItemLine>{{ 'CreatedBy' | translate }}: {{ getCreatorName() }}</span>
      </mat-list>
      <button mat-raised-button color="primary"
              [routerLink]="['/page-group-expenses-details', expense.id]">
        Ver detalles
      </button>
    </mat-card-content>
  </mat-card>
</div>
