@if (dataLoaded | async) {
  <div class="title-container">
    <h1>{{ 'payments.outgoing' | translate }}</h1> 
  </div>

  <div class="cards">
    <mat-card class="done card">
      <mat-card-header>
        <mat-card-title>{{ 'payments.made' | translate }}</mat-card-title> 
      </mat-card-header>

      <mat-card-content>
        <div class="group-container">
          @if (paymentsMade.length > 0) {
            <mat-card *ngFor="let payment of paymentsMade" class="group-card">
              <mat-card-header>
                <mat-card-title>{{ payment.description }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-card-subtitle>{{ payment.date | date }}</mat-card-subtitle>
                <mat-card-subtitle>{{ payment.amount | currency }}</mat-card-subtitle>
                <mat-card-subtitle>{{ 'payments.groups' | translate }}: {{ payment.group.name }}</mat-card-subtitle> 
              </mat-card-content>
            </mat-card>
          } @else {
            <mat-card-content>
              {{ 'payments.noPayments' | translate }} 
            </mat-card-content>
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="missing card">
      <mat-card-header class="matcard">
        <mat-card-title class="mat-title">{{ 'payments.toDo' | translate }}</mat-card-title> 
        <button [routerLink]="'add-payment'" mat-raised-button class="btnPago">{{ 'payments.makePayment' | translate }}</button> 
      </mat-card-header>

      <mat-card-content>
        <div class="group-container">
          <mat-card *ngFor="let payment of paymentsToDo" class="group-card">
            <mat-card-header>
              <mat-card-title>{{ payment.description }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-card-subtitle>{{ payment.date | date }}</mat-card-subtitle>
              <mat-card-subtitle>{{ payment.amount | currency }}</mat-card-subtitle>
              <mat-card-subtitle>{{ 'payments.groups' | translate }}: {{ payment.group.name }}</mat-card-subtitle> 
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
} @else {
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
}
