.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.language-toggle-group {
  background-color: #ffffff; 
  border-radius: 20px; 
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.language-toggle {
  background-color: #ffe0b2; 
  color: #6a1b9a; 
  border-radius: 15px; 
  transition: background-color 0.3s, transform 0.3s; 
}

.language-toggle:hover {
  background-color: #ffe5b4; 
  transform: scale(1.05); 
}

.language-toggle.mat-button-toggle-checked {
  background-color: #e1bee7; 
  color: #6a1b9a; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.language-toggle:focus {
  outline: none; 
}
