<div class="container">
  <div class="right-cards">
    <div class="back-button">
      <button (click)="goBack()" style="margin: 20px; padding: 10px 20px; border-radius: 5px; background-color: #ff9900; color: white; border: none; cursor: pointer;">
        Back
      </button>
    </div>
    <mat-card>
      <mat-card-title>{{ group.name }}</mat-card-title>
      <mat-card-header>
        <img [src]="group.groupPhoto" alt="{{ 'group.photoAlt' | translate }}">
        <mat-card-title-group>
          <mat-card-title>
            {{ 'group.debtInfo' | translate: { groupName: group.name } }}
            <p>{{'group.ExpensesDetailsGroup' | translate }}</p>
          </mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'group.creationDate' | translate }}: {{ group.createdAt | date: 'dd/MM/yyyy' }}</p>
        <p *ngFor="let currency of group.currency">{{ 'group.currency' | translate }}: {{ currency.code }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>{{ 'group.thisAreTheTotalExpenses' | translate }}</mat-card-title>
      <p *ngFor="let expense of expenses">
        <mat-checkbox [(ngModel)]="expense.checked" (change)="onExpenseCheckChange()">
          {{ expense.name || 'Gasto sin nombre' }}: {{ expense.amount | currency: currentCurrency }}
        </mat-checkbox>
      </p>
    </mat-card>
  </div>

  <div class="left-card">
    <mat-card>
      <mat-card-title>{{ 'group.paymentDistribution' | translate }}</mat-card-title>
      <mat-card-content>
        <div class="completed">
          <p *ngIf="allPaymentsCompleted" style="color: #aa67f2; font-weight: bold;">
            Payments Completed
          </p>
        </div>
        <div style="display: flex; justify-content: center;">
          <canvas id="expensesPieChart"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
