@import '../../../payments/pages/receipt-page/receipt-page.component.css';

.btn-success {
  background-color: #4caf50 !important;
  color: white !important;
  min-width: 120px;
  text-align: center;
}
.btn-danger {
  background-color: #f44336 !important;
  color: white !important;
  min-width: 120px;
  text-align: center;
}

