@if (dataLoaded | async) {
  <div class="title-container">
    <h1>{{ 'payments.incoming' | translate }}</h1>
  </div>
  @for (payment of payments; track payment){
    <app-card-payment
      [payment]="payment"
      [mode]="PaymentCardMode.INCOMING"
    ></app-card-payment>
  }
  @if(payments.length==0){
    <div class="no-payments">
      <mat-icon>payments</mat-icon>
      <h2>No hay pagos entrantes</h2>
      <p>Tus pagos entrantes sobre algún gasto, aparecerán aquí.</p>
    </div>
  }
} @else {
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
}
